$background: #090909;
$foreground: #f9f9f9;
$card: #090909;
$card-foreground: #f9f9f9;
$popover: #090909;
$popover-foreground: #f9f9f9;
$primary: #161616;
$primary-foreground: #f9f9f9;
$secondary: #252525;
$secondary-foreground: #f9f9f9;
$muted: #252525;
$muted-foreground: #a2a2a2;
$accent: #252525;
$accent-foreground: #f9f9f9;
$destructive: #7f1d1d;
$destructive-foreground: #f9f9f9;
$border: #252525;
$input: #252525;
$ring: #d3d3d3;
$chart-1: #2661d8;
$chart-2: #2db789;
$chart-3: #e88c30;
$chart-4: #af56db;
$chart-5: #e2366f;
$sidebar-background: #17171b;
$sidebar-foreground: #f4f4f5;
$sidebar-primary: #1d4dd7;
$sidebar-primary-foreground: #ffffff;
$sidebar-accent: #27272a;
$sidebar-accent-foreground: #f4f4f5;
$sidebar-border: #27272a;
$sidebar-ring: #3b82f5;
